/* PAGE BACKGROUND */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
 background:lightblue;
}

/* CENTER WRAPPER */
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN CARD */
.auth-card {
  display: flex;
  width: 800px;
  height: 500px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.15);
}

/* LEFT IMAGE */
.auth-image {
  width: 70%;
  background: #e6f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* RIGHT FORM */

.logo{
    margin-top: 20px;
}

.logo img{
    width: 65px;
    height: 62px;
    margin-left: 120px;
    margin-top: 10px;
}

.auth-form {
  width: 50%;
  padding: 42px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}


.auth-form h2 {
  font-size: 26px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 24px;
}


/* FORM */
.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth-form button {
  margin-top: 16px;
  padding: 12px;
  background: #6366f1;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.auth-form button:hover {
  background: #4f46e5;
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(99, 102, 241, 0.35);
}

.auth-form p {
  margin-top: 20px;
  font-size: 13px;
  color: #6b7280;
  text-align: center;
}

.auth-form p a {
  color: #6366f1;
  font-weight: 600;
  text-decoration: none;
}

.auth-form p a:hover {
  text-decoration: underline;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  border: 1.5px solid #e5e7eb;
  border-radius: 6px;
  font-size: 14px;
  color: #111827;
  background: #fafafa;
  transition: all 0.2s ease;
}

.auth-form input::placeholder {
  color: #9ca3af;
}

.auth-form input:focus {
  outline: none;
  border-color: #6366f1;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
}


/* REMEMBER + FORGOT */
.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #4b5563;
  margin-top: 6px;
}

.remember input {
  accent-color: #6366f1;
}


.forgot-password {
  text-align: right;
  font-size: 13px;
  margin-top: -6px;
}

.forgot-password a {
  color: #6366f1;
  text-decoration: none;
  font-weight: 500;
}

.forgot-password a:hover {
  text-decoration: underline;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-card {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .auth-image,
  .auth-form {
    width: 100%;
  }

  .auth-image {
    height: 200px;
  }
}



